aside 
	h2
		background url(../images/score-bg.png) no-repeat
		text-shadow 0 2px 0 black
		color #eeeddf
		width 139px
		height 78px
		box-sizing border-box
		text-transform uppercase
		padding-top 10px
		font-size 12px
		text-align center
		margin-bottom 7px

		span
			font-size 40px
			display block
			padding-top 17px
			font-weight normal

	.progress
		background url(../images/percentageComplete-bg.png) no-repeat
		height 33px
		width 139px
		font-size 12px
		text-shadow 0 1px 0 #9d532f
		color #eeeddf
		text-align center
		line-height 36px
	
.solutions aside
	display none