.wrap
	overflow hidden
	width 1000px
	padding-bottom 40px
	margin auto

#content-wrap
	overflow hidden
	min-width 1000px
	padding-bottom 40px

.content
	margin auto
	width 1000px
	padding-top 20px
	overflow hidden

.primary-content
	float left
	width 840px
	margin-right 20px
	position relative
	z-index 2

aside
	float right
	width 139px
	box-sizing border-box