html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td 
  margin 0
  padding 0
  border 0
  outline 0
  font-weight inherit
  font-style inherit
  font-size 100%
  font-family inherit
  vertical-align baseline

focus 
  outline 0

html 
  overflow-y scroll

body 
  color #444
  background-color #f1f0e2
  background url(../images/bg-content.jpg)  
  font 12px/20px sans-serif

p 
  padding-bottom 30px
  color #494949
  font-size 14px

ol, ul 
  list-style none

code 
  font-family Courier, "Courier New", "Lucida Console", Monaco
  background #e8e7d9
  padding 3px 5px
  font-size .8em
  display inline-block

table 
  border-collapse separate
  border-spacing 0

caption, th, td 
  text-align left
  font-weight normal

blockquotebefore, blockquoteafter, qbefore, qafter 
  content ""

blockquote, q 
  quotes "" ""

acronym 
  cursor help
  border-bottom 1px dashed #333

strong 
  font-weight bold

cite,
em,
i 
  font-style italic

.right 
  float right

.left 
  float left

.hide,
.screen-reader-text 
  display none !important

selection 
  background #fdd283
  color #000

-moz-selection 
  background #fdd283
  color #000

.clear 
  clear both
  display block
  overflow hidden
  visibility hidden
  width 0
  height 0

// Mixin
clearfix()
  zoom 1
  &:before, &:after 
    content ''
    display block
    overflow hidden
    visibility hidden
    width 0
    height 0
  &:after
    clear both