black-shade = #494949
grey = #d0cfc3

@import 'mixins.styl'
@import 'reset.styl'
@import 'links.styl'
@import 'headings.styl'
@import 'crumbs.styl'
@import 'header.styl'
@import 'orange-button.styl'
@import 'button.styl'
@import 'questions.styl'
@import 'results.styl'
@import 'shadowEffects.styl'
@import 'main.styl'
@import 'aside.styl'
@import '../../codemirror/lib/codemirror'
@import '../../codemirror/theme/default'