h1, h2, h3, h4, h5, h6
  color #494949
  font-family sans-serif
  line-height 1.2em
  margin-bottom 15px

h1, h2
  font-family 'MuseoSansRounded-700', sans-serif
  letter-spacing -.5px

h1
  font-size 40px
  color #322d2d

h2
  font-size 32px
  font-weight bold

  h2 span
    color #818181
  
h3
  font-size 24px
  font-family 'MuseoSansRounded-700', sans-serif
  margin-bottom 10px
  line-height: 30px;

  code
    line-height: 1.3em

h4
  font-size 14px
  font-weight bold
  margin-bottom 5px

h5
  font-size 18px
  font-style italic
  margin-bottom 5px

h6
  font-size 14px
  margin-bottom 5px
