a.orange-button,
input.orange-button,
a.comment-reply-link,
input#submit,
button.button
  border 1px solid #e7a943
  border-bottom-color #d6982f
  border-top-color #f5b74e
  color #623f1d
  display block
  float left
  font-size 12px
  font-weight bold
  line-height 12px
  padding 10px 18px
  text-decoration none
  text-shadow 0 1px 0 #fede9d
  outline 0
  /* CSS3 */
  -moz-box-shadow 0px 1px 2px #d9d9d9, inset 0px 1px 0px #ffe598
  -webkit-box-shadow 0px 1px 2px #d9d9d9, inset 0px 1px 0px #ffe598
  box-shadow 0px 1px 2px #d9d9d9, inset 0px 1px 0px #ffe598
  -webkit-border-radius 20px
  -moz-border-radius 20px
  border-radius 20px
  /* Gradient */
  background-color #feda71
  background-image -webkit-gradient(linear, left top, left bottom, from(#feda71), to(#febb49)) /* Saf4+, Chrome */
  background-image -webkit-linear-gradient(top, #feda71, #febb49) /* Chrome 10+, Saf5.1+ */
  background-image -moz-linear-gradient(top, #feda71, #febb49) /* FF3.6 */
  background-image -ms-linear-gradient(top, #feda71, #febb49) /* IE10 */
  background-image -o-linear-gradient(top, #feda71, #febb49) /* Opera 11.10+ */
  background-image linear-gradient(top, #feda71, #febb49)

input.orange-button,
button.button,
a.orange-button.small
  cursor pointer
  float right
  font-size 11px
  outline 0

input.orange-button
  margin-top 33px

a.orange-button.small
  font-size 10px
  padding 3px 12px 4px 12px

input#submit
  cursor pointer
  float right

a.orange-button.large
  font-size 16px
  line-height 12px
  padding 18px 50px
  -webkit-border-radius 50px
  -moz-border-radius 50px
  border-radius 50px

a.orange-button-alt
  color #623f1d
  display block
  float left
  font-size 16px
  font-weight bold
  line-height 12px
  padding 17px 62px
  text-decoration none
  text-shadow 0 1px 0 #fede9d
  /* CSS3 */
  -moz-box-shadow 0px 1px 1px #c65f18, inset 0px 1px 0px #fee3a8
  -webkit-box-shadow 0px 1px 1px #c65f18, inset 0px 1px 0px #fee3a8
  box-shadow 0px 1px 1px #c65f18, inset 0px 1px 0px #fee3a8
  -webkit-border-radius 32px
  -moz-border-radius 32px
  border-radius 32px
  /* Gradient */
  background-color #ffce63
  background-image -webkit-gradient(linear, left top, left bottom, from(#ffce63), to(#fcaa35)) /* Saf4+, Chrome */
  background-image -webkit-linear-gradient(top, #ffce63, #fcaa35) /* Chrome 10+, Saf5.1+ */
  background-image    -moz-linear-gradient(top, #ffce63, #fcaa35) /* FF3.6 */
  background-image     -ms-linear-gradient(top, #ffce63, #fcaa35) /* IE10 */
  background-image      -o-linear-gradient(top, #ffce63, #fcaa35) /* Opera 11.10+ */
  background-image         linear-gradient(top, #ffce63, #fcaa35)

a:hover.orange-button-alt
  background-color #feda71
  background-image -webkit-gradient(linear, left top, left bottom, from(#feda71), to(#febb49)) /* Saf4+, Chrome */
  background-image -webkit-linear-gradient(top, #feda71, #febb49) /* Chrome 10+, Saf5.1+ */
  background-image    -moz-linear-gradient(top, #feda71, #febb49) /* FF3.6 */
  background-image     -ms-linear-gradient(top, #feda71, #febb49) /* IE10 */
  background-image      -o-linear-gradient(top, #feda71, #febb49) /* Opera 11.10+ */
  background-image         linear-gradient(top, #feda71, #febb49)

a.orange-button:hover,
input.orange-button:hover,
a:hover.comment-reply-link,
input:hover#submit,
button:hover.button
  background-color #fee296
  background-image -webkit-gradient(linear, left top, left bottom, from(#fee296), to(#fec166)) /* Saf4+, Chrome */
  background-image -webkit-linear-gradient(top, #fee296, #fec166) /* Chrome 10+, Saf5.1+ */
  background-image    -moz-linear-gradient(top, #fee296, #fec166) /* FF3.6 */
  background-image     -ms-linear-gradient(top, #fee296, #fec166) /* IE10 */
  background-image      -o-linear-gradient(top, #fee296, #fec166) /* Opera 11.10+ */
  background-image         linear-gradient(top, #fee296, #fec166)

input:active.orange-button,
a.orange-button:active
  background-image: -webkit-linear-gradient(top, #fec166, #fee296);
  background-image: -moz-linear-gradient(top, #fec166, #fee296);
  background-image: -ms-linear-gradient(top, #fec166, #fee296);
  background-image: -o-linear-gradient(top, #fec166, #fee296);
  background-image: linear-gradient(top, #fec166, #fee296);

input#searchsubmit.orange-button
  color transparent
  background transparent url(images/sprite.png)  no-repeat -300px -30px
  border none
  height 26px
  padding 0px
  text-indent -9999px
  text-transform capitalize
  width 26px
  -webkit-border-radius 0px
  -moz-border-radius 0px
  border-radius 0px
  -moz-box-shadow none
  -webkit-box-shadow none
  box-shadow none

input:hover#searchsubmit.orange-button
  background-position -300px -56px
